registry = https://nexus.picsart.tools/content/repositories/npm/

; base64 encoded authentication token
; base64Encode(<username>:<password>)
_auth = dG9vbHM6YWNrbVc2ZjNEYmg5OGRqNQ==

; force auth to be used for GET requests
always-auth = true
