<div>
  <textarea [(ngModel)]="oldText"></textarea>
</div>
<div>
  <textarea [(ngModel)]="newText"></textarea>
</div>

<div class="ngx-diff-light-theme">
  <inline-diff
    class="my-inline-diff-theme"
    [oldText]="oldText"
    [newText]="newText"
    [lineContextSize]="4"
    style="width: 100%"
    (selectedLineChange)="selectedLineChange($event)"
  />
  <br />
  <inline-diff
    class="ngx-diff-dark-theme"
    title="github/user/src/main.ts"
    [oldText]="oldText"
    [newText]="newText"
    [lineContextSize]="4"
    style="width: 100%"
    (selectedLineChange)="selectedLineChange($event)"
  />
  <br />
  <inline-diff
    [oldText]="oldText"
    [newText]="oldText"
    [lineContextSize]="4"
    style="width: 100%"
    (selectedLineChange)="selectedLineChange($event)"
  />
  <br />
  <inline-diff
    title="github/user/src/main.ts"
    [oldText]="oldText"
    [newText]="newText"
    [lineContextSize]="4"
    style="width: 100%"
    (selectedLineChange)="selectedLineChange($event)"
  />
  <br />
  <ngx-side-by-side-diff
    title="github/user/src/main.ts"
    [before]="oldText"
    [after]="newText"
    [lineContextSize]="4"
    style="width: 100%"
    (selectedLineChange)="selectedLineChange($event)"
  />
  <br />
  <ngx-side-by-side-diff
    title="github/user/src/main.ts"
    class="ngx-diff-dark-theme"
    [before]="oldText"
    [after]="newText"
    [lineContextSize]="4"
    style="width: 100%"
    (selectedLineChange)="selectedLineChange($event)"
  />
</div>
