/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "ngx-diff/styles/default-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-custom-diff-theme {
  --ngx-diff-font-family: Fira Mono;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
    // Only include `typography` and `density` in the default light theme.
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Apply the dark theme by default
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.card-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.icon-button-theme($light-theme);
@include mat.input-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.tooltip-theme($light-theme);

// Apply the light theme only when the user prefers light themes.
.dark-theme {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.card-color($dark-theme);
  @include mat.form-field-color($dark-theme);
  @include mat.icon-color($dark-theme);
  @include mat.icon-button-color($dark-theme);
  @include mat.input-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.tooltip-color($dark-theme);
}
