/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "ngx-diff/styles/default-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-custom-diff-theme {
  --ngx-diff-font-family: Fira Mono;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.elevation-classes();
@include mat.app-background();

$scale: -1;

html {
  // Apply the light theme by default
  color-scheme: light;

  @include mat.theme(
    (
      color: mat.$violet-palette,
      density: $scale,
    )
  );

  // Apply the dark theme only when the user prefers dark themes.
  .dark-theme {
    color-scheme: dark;
  }
}

@include mat.elevation-classes();
@include mat.app-background();
